.idea
*.xml
Gemfile.lock
allure-report
reports
screenshots
appium.log
appium.pid.out
.byebug_history
*.log
/utilities/appium.log
/appium.log
/appium.pid.out
metadata
Deliveryfile
cucumber.json
result.html
/test/
/apps/
/node_modules/












































